@import "$yo-config/core/reset";
@import "$yo-config/layout/yo-root";
@import "$yo-config/layout/yo-flex";
@import "$yo-config/element/yo-btn";

@include yo-btn(
    $name: light,
    $border-width: 1px,
    $border-color: #666,
    $bgcolor: #fff,
    $color: #333
){
    margin: .1rem;
};
.flex img{
    float: left;
    
}
.my_name{
    margin-right: 50px;
    font:20px/32px "微软雅黑"
}
