@import "$yo-config/core/reset";
@import "$yo-config/layout/yo-root";
@import "$yo-config/layout/yo-flex";
@import "$yo-config/fragment/yo-list";



body{
    font-family: '微软雅黑'
}
.yo-card{
    margin-bottom: .3rem
}
.m-list {
    background-color: #eeeeee;
}
.yo-list-fullscreen {
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    position: absolute;
}
.bd{
    text-align: center
    
}
.bd h3{
    font-weight: normal
}

.bd a{
    color:#212121
}
