@import "$yo-config/core/reset";
@import "$yo-config/layout/yo-root";
@import "$yo-config/layout/yo-flex";
@import "$yo-config/fragment/yo-list";

body{
    font-family: '微软雅黑';
    font-size: 16px;
    line-height: 32px;
    
}

.my_title{
   background: #eee;
   font-size: 18px;
   
}
.my_name{
    font-size: 16px;
    margin-left: .1rem;
    
    
}